<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>详情页面</title>
</head>
<body>
	<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>展示</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<table class="table table-bordered">
		<tr>
			<td>行号</td>
			<td>原车班次</td>
			<td>姓名</td>
			<td>身份证号</td>
			<td>性别</td>
			<td>单位</td>
			<td>乘客类型</td>
			<td>代理人姓名</td>
			<td>代理人单位</td>
			<td>流程状态</td>
			<td>预约状态</td>
		</tr>
		{volist name='data' id='vo'}
		<tr>
			<td>{$vo.id}</td>
			<td>{$vo.tarin}</td>
			<td>{$vo.name}</td>
			<td>{$vo.num}</td>
			<td>{$vo.sex==1?"男":"女"}</td>
			<td>{$vo.position}</td>
			<td>{$vo.clas}</td>
			<td>{$vo.dname}</td>
			<td>{$vo.dposition}</td>
			<td>{$vo.lstatus==0?"以获取":"以通过"}</td>
			<td>{$vo.ystatus==0?"预约成功":"预约成功"}</td>
		</tr>
		{/volist}
	</table>
</body>
</html>
</body>
</html>